<%= simple_form_for(@client, html: { class: 'form-group' }) do |f| %>
  <div class="col-md-6">
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
  <div class="col-md-6">
    <%= f.input :note %>
  </div>
<% end %>
