<h1>Today's Daycare</h1>

<% @dogs.each do |dog| %>
  <%= render 'dogs/a_dog', dog: dog %>
<% end %>

<br/>
<div class="pull-right">
  <%= link_to 'Remove All', remove_all_path, class: 'btn btn-danger' %>
</div>
