<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to <strong>DogCare</strong></h1>
    <p>A kennel management solution built by Andrew Hewett</p>
  </div>
</div>

<div class="container-fluid bg-dark top-round">
  <h2 class="text-center">Manage important information</h2>
  <p>Does your facility track the personalities of the dogs who come through their doors? Knowing which dogs will play well together is an important step in the process of running a successful, incident-free play yard. Most facilities rely on their staff to determine from past experience who can be in the yard together, which works well with staff on top of their game. But what about new staff, who have no experience with the dogs, or dogs returning from extended absences? Enter DogCare, a database for your facility to maintain records.</p>
</div>

<div class="container-fluid bg-light">
  <h2 class="text-center">Know the dogs in the building</h2>
  <p>Whether they are boarding or daycare, the dogs are the priority. By adding them to the day's roster, staff can quickly see important facts about the dogs. How's the dog's temperament? Who have they played well with in the past, or which dogs do they need to avoid? Will they chew items left in their kennel, or do they need a no-spill style water bowl? All these questions and more answered in a glance at the DogCare daily roster.</p>
</div>

<div class="container-fluid bg-dark">
  <h2 class="text-center">Staff communication</h2>
  <p>Handwritten notes are one way to pass information to other employees, but are they on the whiteboard, on the desk, or on the kennel itself? DogCare serves to centralize this information, meaning any important reminders can be seen and addressed. No longer will the staff have to try to track down the information, searching old daycare sheets and boarding records that may or may not hold the answer.</p>
</div>

<div class="container-fluid bg-light">
  <h2 class="text-center">Providing for the client</h2>
  <p>If your dog is a regular at a daycare facility, you probably have an idea of who their friends are. If you run or work at such a facility, you know that clients want their dogs to have a good experience while they are in your hands. DogCare provides a way for clients to see the dogs at daycare, and put a cute face to the names they hear. Privacy is important to us, however, so we don't show dogs who are boarding as their owners likely don't want that information out there. Also, non-staff can only see the dogs' names and pictures.</p>
</div>

<div class="container-fluid bg-dark">
  <h2 class="text-center">Something missing?</h2>
  <p>If you have an idea for a feature, or see something you'd like to discuss, please <%= link_to 'Contact Us!', contact_path %> Do not hesitate to reach out, we are open to feedback and love hearing about ways we can improve in the future.</p>
</div>

